sudo: required
language: generic
services:
  - docker

before_install:
  - docker build -t 3323/docker-react -f Dockerfile.dev . 

script:
  - docker run -e CI=true 3323/docker-react npm run test

